$color-paper: #eee;
$color-dark-grey: #555555;
$color-light-grey: #999;
$color-sidebar-button-font: #fff;
$color-dark-transparent-background: rgba(0, 0, 0, 0.60);
$color-turquoise: #00acc1;
$color-turquoise-shadow: 0 12px 20px -10px rgba(0, 172, 193, .28), 0 4px 20px 0 rgba(0, 0, 0, .12), 0 7px 8px -5px rgba(0, 172, 193, .2);
;
$color-purple-gradient: linear-gradient(60deg, #ab47bc, #8e24aa);
$color-purple-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(156, 39, 176, .4);
$color-red: #f44336;
$color-red-shadow: 0 12px 20px -10px rgba(244, 67, 54, .28), 0 4px 20px 0 rgba(0, 0, 0, .12), 0 7px 8px -5px rgba(244, 67, 54, .2);
$color-green: #4caf50;
$color-green-shadow: 0 12px 20px -10px rgba(76, 175, 80, .28), 0 4px 20px 0 rgba(0, 0, 0, .12), 0 7px 8px -5px rgba(76, 175, 80, .2);
$color-navy: #3f51b5;



